<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Message -->
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <!-- New Inventory Form -->
                <form action="/inv/add-inventory" method="POST">
                    <div class="form-group">
                        <label for="classification_id">Classification:</label>
                        <select id="classification_id" name="classification_id" required>
                            <option value="" disabled selected hidden>Choose a Classification</option>
                            <% classifications.forEach(classification=> { %>
                                <option value="<%= classification.classification_id %>">
                                    <%= classification.classification_name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inv_make">Make:</label>
                        <input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>">
                    </div>

                    <div class="form-group">
                        <label for="inv_model">Model:</label>
                        <input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>">
                    </div>

                    <div class="form-group">
                        <label for="inv_year">Year:</label>
                        <input type="text" id="inv_year" name="inv_year" required value="<%= locals.inv_year %>">
                    </div>

                    <div class="form-group">
                        <label for="inv_description">Description:</label>
                        <textarea id="inv_description" name="inv_description"
                            required><%= locals.inv_description %></textarea>
                    </div>

                    <div class="form-group">
                        <label for="inv_image">Image Path:</label>
                        <input type="text" id="inv_image" name="inv_image" required value="<%= locals.inv_image %>">
                    </div>

                    <div class="form-group">
                        <label for="inv_thumbnail">Thumbnail Path:</label>
                        <input type="text" id="inv_thumbnail" name="inv_thumbnail" required
                            value="<%= locals.inv_thumbnail %>">
                    </div>

                    <div class="form-group">
                        <label for="inv_price">Price:</label>
                        <input type="text" id="inv_price" name="inv_price" required value="<%= locals.inv_price %>"
                            pattern="^[^,]*$" title="No commas.">
                    </div>

                    <div class="form-group">
                        <label for="inv_miles">Miles:</label>
                        <input type="text" id="inv_miles" name="inv_miles" required value="<%= locals.inv_miles %>"
                            pattern="^[^,]*$" title="No commas.">
                    </div>

                    <div class="form-group">
                        <label for="inv_color">Color:</label>
                        <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>">
                    </div>

                    <button type="submit" id="inventory-btn">Add Vehicle</button>
                </form>